<div ng-controller="AddSellCtrl">

    <div class="form-group">
        <label for="prod">สินค้า:</label>
        <select ng-model="trans.product.id" class="form-control"
                ng-options="product.id as product.name for product in products" id="prod" ng-change="change()"></select>
    </div>
    <div class="form-group">
        <label for="quan">จำนวน:</label>
        <input type="number" ng-model="trans.quantity" class="form-control" id="quan" ng-change="change()"
               onclick="this.select()">
    </div>
    <div class="form-group">
        <label for="sprice">ราคาขาย:</label>
        <input type="number" ng-model="trans.sellPrice" class="form-control" id="sprice" onclick="this.select()">
    </div>
    <div class="form-group" ng-if="isAuthorized(userRoles.admin)">
        <label for="bprice">ราคาซื้อ:</label>
        <input type="number" ng-model="trans.buyPrice" class="form-control" id="bprice">
    </div>
    <div align="right">
        <button type="button" ng-click="save()" class="btn btn-primary btn-md">เพิ่ม</button>
        <button type="button" ng-click="closeThisDialog('')" class="btn btn-primary btn-md">ยกเลิก</button>
    </div>
</div>