<div ng-controller="TransactionCtrl">
    <div class="container">
        <h2>รายการ</h2>
        <button type="button" ng-click="addSell()" class="btn btn-primary btn-md">เพิ่มรายการขาย</button>
        <button type="button" ng-click="addBuy()"class="btn btn-primary btn-md">เพิ่มรายการซื้อ</button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr style="font-weight: bold">
                <td colspan="3">Summary</td>
                <td colspan="2">{{summary}}</td>
            </tr>
            </tfoot>
            <tbody>
            <tr ng-repeat="trans in transactions">
                <td>{{trans.datetime}}</td>
                <td>{{trans.product.name}}</td>
                <td>{{trans.quantity}}</td>
                <td>{{trans.sellPrice}}</td>
                <td>
                    <button type="button" ng-click="edit(trans)" class="btn btn-info">
                        <span class="glyphicon glyphicon-edit"></span> </button>
                    <button type="button" ng-really-message="ต้องการจะลบ?" ng-really-click="delete(trans)" class="btn btn-info">
                    <span class="glyphicon glyphicon-trash"></span> </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>